<div class="login-form">
    <form>
        <table>
            <tr>
                <td><span>Username</span></td>
                <td><input type="text" placeholder="xxxxxx@xyz.com"></td>
            </tr>
            <tr>
                <td><span>Password</span></td>
                <td><input type="text" placeholder="xxxxxxxxxxxxxx"></td>
            </tr>
            <tr>
                <td><button class="pull-right" (click)="gotoDashboard()" routerLink="/dashboard">Login</button></td>
            </tr>
        </table>
    </form>
</div>